<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am an asdappComponent</h3>
        </div>
    </div>
    <app-servers></app-servers>
    <hr>
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
    <!-- <button (click)="showSecret= !showSecret" class="btn btn-primary">Display details</button> -->
    <button (click)="onToggleDetails()" class="btn btn-primary">Display details</button>
    <p *ngIf="showSecret">Secret password = tuna</p>
    <div 
    [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text' :logItem >=5}"
    *ngFor="let logItem of log"
    >{{logItem}}</div>
</div>
